
.images1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
    
}
img{
    height: 20%;
    width: 20%;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(80, 77, 77);
}
body{
    background-color: aliceblue;
}

.images2{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    background-color: rosybrown;
    
}
.images3{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: white;

}